<html>
<head></head>
<body>

	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>Estimado {{clientName}}</p>
	<p>&nbsp;</p>
	<p>Ha realizado un pago al comercio {{merchantName}}. A continuaci&oacute;n el detalle de su pago.</p>
	<p>&nbsp;</p>
	<table style="height: 33px; width: 592px;">
	<tbody>
	<tr>
	<td style="width: 677px; text-align: center; background-color: #757575;"><span style="color: #ffffff;">Descripcion</span></td>
	<td style="width: 35px; text-align: center;">&nbsp;</td>
	<td style="width: 194px; text-align: center; background-color: #757575;"><span style="color: #ffffff;">Precio</span></td>
	</tr>
	<tr>
	<td style="width: 677px;">{{orderDescription}}</td>
	<td style="width: 35px;">&nbsp;</td>
	<td style="width: 194px;">USD {{amount}}</td>
	</tr>
	</tbody>
	</table>
	<p>&nbsp;</p>
	<table style="width: 591px;">
	<tbody>
	<tr>
	<td style="width: 583px;">Este mensaje de correo electr&oacute;nico se ha enviado desde una direcci&oacute;n exclusivamente para env&iacute;os. No responda a este mensaje.</td>
	</tr>
	</tbody>
	</table>

</body>
</html>